@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;

  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;

  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --card-border: 240 3.7% 15.9%;

  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --popover-border: 240 3.7% 15.9%;

  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --primary-border: hsl(0 0% 98%);

  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --secondary-border: hsl(240 3.7% 15.9%);

  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --muted-border: hsl(240 3.7% 15.9%);

  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --accent-border: hsl(240 3.7% 15.9%);

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --destructive-border: hsl(0 62.8% 30.6%);

  --app-font-sans: 'Inter', sans-serif;
  --app-font-mono: 'JetBrains Mono', monospace;
  --radius: 0.5rem;
}

@layer base {
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--background));
    font-family: var(--app-font-sans);
    -webkit-font-smoothing: antialiased;
  }
}
